.style2 {
                font-size: small;
                font-family: Verdana, Arial, Helvetica, sans-serif;
                color: #000000;
            }
            .errordownload {
                font-weight: bold;
			color: red;
			padding: 2px 8px;
			margin-top: 2px;

            }
            .sucessdownload {
                font-weight: bold;
			color: green;
			padding: 2px 8px;
			margin-top: 2px;

            }
            .style3 {
                font-size: inherit;
                font-family: Verdana, Arial, Helvetica, sans-serif;
                color: orangered;
            }
            .style4 {
                font-size: small;
                font-family: Verdana, Arial, Helvetica, sans-serif;
                color: orangered;
            }
            .Header {
                font-size: medium;
                font-weight: bold;
                font-family: Verdana, Arial, Helvetica, sans-serif;
                color: blue;
            }